[submodule "records"]
	path = records
	url = https://sei-jenkins@bitbucket.org/cjshaw/records.git
[submodule "dlkit"]
	path = dlkit
	url = https://bitbucket.org/cjshaw/dlkit-lite.git
[submodule "dlkit_runtime"]
	path = dlkit_runtime
	url = https://bitbucket.org/cjshaw/dlkit_runtime.git
