[submodule "dlkit-lite"]
	path = dlkit-lite
	url = https://bitbucket.org/cjshaw/dlkit-lite.git
[submodule "dlkit_edx"]
	path = dlkit_edx
	url = https://bitbucket.org/cjshaw/dlkit_edx.git
[submodule "records"]
	path = records
	url = https://sei-jenkins@bitbucket.org/cjshaw/records.git
[submodule "dlkit"]
	path = dlkit
	url = https://bitbucket.org/cjshaw/dlkit-lite.git
