beautifulsoup4==4.4.1
cffi==1.7.0
cryptography==1.4
diskcache==3.0.1
dlkit==0.6.1
enum34==1.1.6
html5lib==0.9999999
idna==2.1
inflection==0.3.1
ipaddress==1.0.16
lxml==3.6.0
mpmath==0.19
Paste==2.0.3
pyasn1==0.1.9
pycparser==2.14
PyInstaller==3.2.1
pymongo==3.2.1
python-memcached==1.58
pyOpenSSL==16.0.0
signit==0.3.0
six==1.10.0
sympy==1.0
-e git://github.com/CLIxIndia-Dev/webpy.git@362dcecae9416eef6622922264e6c6482992c898#egg=web.py
